body{
   text-align: center;
 }

.navbar{
  background-color: #005C99;
  /* padding: 0%; */
}

.nav-link{
     font-size: 1.2rem;
     color: white !important;
     font-family: 'Roboto', sans-serif;
}

.nav-item:hover{
  background-color: #0084cb;
}

.nav-item{

    padding: 0 50px;
}

.search-area-body{
  padding: 7%;
  background-image: url('../img/Search-Background-cropped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.miami-font{
  font-family: 'Righteous', cursive;
  font-size: 5em;
  font-weight: 800;
  color:#005C99;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: .5px;
}