body{
   text-align: center;
 }

.navbar{
  background-color: #005C99;
  /* padding: 0%; */
}

.nav-link{
     font-size: 1.2rem;
     color: white !important;
     font-family: 'Roboto', sans-serif;
}

.nav-item:hover{
  background-color: #0084cb;
}

.nav-item{

    padding: 0 50px;
}

.search-area-body{
  padding-top: 5%;
  padding-bottom: 12%;
  background-image: url('../img/Search-Background-cropped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.miami-font{
  font-family: 'Righteous', cursive;
  font-weight: 800;
  color:#005C99;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: .5px;
}
.search-bar-title{
  font-size: 5.5em;
}

.search-bar-input{
  width:50%;
  height: 2.5em;
  border-radius: 3px;
  font-size: 1.5em;
}

.search-bar-button{
  background-color: #005C99;
  color: white;
  height: 2.5em;
  width: 2.5em;
  border-radius: 3px;
  font-size: 1.5em;
}

.advanced-search{
  font-size: 1.5em;
  font-weight: 450;
}
.advanced-search-holder{
  text-align:left;
  padding-left: 24%;
}

.padded-areas{
  padding: 2% 15%;
}

.section-title{
  font-size: 3.5em;
}

.section-title-holder{
  text-align: left;
}
.carousel-caption{
  position: relative;
  left: 0;
  top: 0;
  background: #005C99;
  color: white;
}